

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
} 
header{
    position: sticky;
    top: 0;
    background-color: white;
    height: 66px;
}
.left{
    display: flex;
}
.left img{
    width: 200px;
    height: 50px;
}
nav{
    padding: 0px 90px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    font-size: 12px;
    padding-top: 14px;
    padding-bottom: 10px;
    background-color: white;
    width: 100%;
}
nav ul li{
    list-style: none;
    padding: 0 32px;
}
nav ul{
    display: flex;
}
.ftlogo{
    display: none;
}
.profile img{
    width: 25px;
    height: 40px;
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.profile{
    display: grid;
    text-align: center
}
.wishlist img{
    width: 35px;
    height: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.wishlist{
    display: grid;
    text-align: center;
}
.bag img{
    width: 35px;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.homeImg{
    width: 80vw;
    margin: 22px 0px;
}
.bag{
    display: grid;
    text-align: center;
}
.searchbar{
    width: 22vw;
    padding: 7px;
    border: 0.1px solid rgb(238, 238, 238);
    border-radius: 5px;
    background: rgb(255, 255, 244);
}
.section1{
    margin-top: 20px;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
.menuItems{
    margin-top: 390px;
}


/* -----fetured categories----- */

.categories{
    margin: 70px 0; 
}
.row{
    justify-content: center;
    margin-bottom: 120px;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    display: flex;
}
.col-3 img{
    width: 100%;
    margin: 20px;
}

.smallContainer{
    max-width: 1600px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/* -----fetured  products----- */
.row2{
    display: grid;
    grid-template-columns: repeat(5,1fr);
   
    margin-bottom: 100px;
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background-color: rgb(255, 255, 0);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 img{
    flex-basis: 25%;
    padding: 10px;
    width: 70%;
    margin-bottom: 20px;
    transition: transform 0.5;
}
.col-4 p{
    font-size: 14px;
}
.col-4:hover{
    transform: translateY(-5px);
}

/* ----- footer ----- */
.footer{
    background-color: rgb(255, 252, 233);
}
.row3{
    width: 80%;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.row3 ul li{
    list-style: none;
    text-align: left;
    color: #555;
    margin-bottom: 8px;
}
.row3 h4{
    text-align: left;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
}
.row3 img:nth-child(2){
    margin-bottom: 20px;
    margin-right: 130px;
}
.keep{
    margin-bottom: 20px;
    margin-right: 250px;
}



/* ----- All Product Page ----- */


#filter{
    display: block;
    margin: auto;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(242, 250, 255);
    font-size: 15px;
    width: 200px;
  }
  #product-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    width: 100%;
    margin-bottom: 50px;
  }
  #product-container>div{
    width: 100%;
    margin-bottom: 50px;
  
  }
  #product-container>div>img{
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    transition: transform 0.5;
  }
  #product-container>div:hover{
    transform: translateY(-5px);
  }

  #product-container>div p{
    font-size: 14px;
  }
  #product-container>div p:nth-last-child(2){
    font-size: 14px;
    font-weight: bold;
  }
 
  #product-container>div>button{
   
    display: block;
    margin: auto;
    background-color: rgb(255, 197, 7);
    color: white;
    padding: 5px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
  }
  #product-container>div>button:hover{
    background-color: rgb(255, 164, 78);
  }
  .row5{
    padding-top: 60px;
    padding-bottom: 40px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  #filter{
    padding: 0;
    margin: 0;
  }











/* ----- media query MENU BAR ----- */

@media only screen and (max-width: 900px){
    
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #333;
        width: 100%;
        display: block;
        text-align: right;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
       margin-right: 5px;
       margin-top: 10px;
       margin-bottom: 10px;
    }
    nav ul li a{
        color: white;
     }
     .right{
        margin-right: 100px;
        margin: auto;
     }
     .right img{
        margin-left: 15px;
        margin-right: 15px;
     }
     .menu-icon{
        display: block;
        cursor: pointer;
     }
     .left img{
        display: none;
     }
     .ftlogo{
        width: 25%;
       margin: auto;
     }
     section>div{
        width: 100%;
        background-color: rgb(255, 250, 214);
     }
     .row2{
        display: grid;
        grid-template-columns: repeat(2,3fr);
    }
    .row3{
        display: grid;
        grid-template-columns: repeat(2,5fr);
    }
    .footer{
        width: 100%;
    }
    #product-container{
        display: grid;
        grid-template-columns: 50% 50%  ;
        gap: 20px;
        justify-content: center;
      }
}

/* ----- media query 600px screen size ----- */ 


@media only screen and (max-width: 600px){
    .row2{
        display: grid;
        grid-template-columns: repeat(1,6fr);
    }
    .row3{
        display: grid;
        grid-template-columns: repeat(1,6fr);
        text-align: center;
    }
    .row{
        text-align: center;
    }
    .col-3{
        flex-basis: 100%;
        display: block;
        padding: 30px'
    }
    .right>div img{
        margin-left: 0px;
        margin-right: 0px;
        width: 20px;
        height: 35px;
     }
     .footer{
        text-align: center;
     }
}
    
































.mx-2{
    margin-left: 25px;
    margin-right: 25px;
}

.space-bet{
    justify-content: space-between;
}
.bold{
    font-weight: bolder;
}
.uppercase{
    text-transform: uppercase;
}
.flex{
    display: flex;
 }
.container{
   text-align: center;
   max-width:2000px;
    margin: auto;
 }
 .items-center{
    align-items: center;
 }
 .justify-center{
    justify-content: center;
 }
 a{
    text-decoration: none;
    color: #555
}
p{
    color: #555;
}